// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "../common/variables";
@import "./common";

.bp-table-cell {
  @include cell-cursors();

}

.bp-table-cell,
.bt-table-row-header-cell {
  @include cell();

  &.pt-large,
  .pt-large & {
    @include cell-large();
  }

  &.bp-table-cell-loading {
    display: flex;
    align-items: center;
  }
}

.bp-table-cell-skeleton {
  animation: 1.75s linear 0s infinite normal both running glow;
  flex: 1;
  height: $pt-grid-size - 4px;
  border-radius: $pt-border-radius;
}

@mixin skeleton-margin($margin) {
  .bp-table-cell-skeleton-#{$margin} {
    margin-right: $margin * 1px;
  }
}
@include skeleton-margin(0);
@include skeleton-margin(5);
@include skeleton-margin(10);
@include skeleton-margin(15);

.bp-table-striped {
  .bp-table-cell-ledger-even {
    background-color: $cell-background-color;
  }

  .bp-table-cell-ledger-odd {
    background-color: mix($table-background-color, $cell-background-color, 50%);
  }

  .pt-dark & {
    .bp-table-cell-ledger-even {
      background-color: $dark-cell-background-color;
    }

    .bp-table-cell-ledger-odd {
      background-color: mix($dark-table-background-color, $dark-cell-background-color, 50%);
    }
  }
}

.bp-table-editable-name input {
  height: $cell-height; // fixed height for IE11
}
